<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Table</h1>
  </div>
</div><!--/.row-->

<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body overflowFix">
        <ng2-smart-table [settings]="settings" [source]="data"></ng2-smart-table>
      </div>
    </div>
    <div> <button (click)="UpdateData()" class="btn btn-success"> Save </button> </div>
  </div>
</div><!--/.row-->



