
  <!-- =====================Tabs Content========================= -->
  <div class="" *ngIf="activeTab == 4 ">
    <!-- <h3> Manage Customer </h3> <br> <br> -->
    <div class="row">
      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8">
        <h3> Advance Search </h3>
      </div>
      <!-- =====================Advance Search Starts========================= -->
      <!-- ===================================================================== -->
      <div class="col-sm-12 col-xl-3 col-md-3 col-lg-3 text-right"> <span>Saved Search </span>
        <select class="" data-toggle="modal" data-target="#SavedSearch">
          <option> </option>
        </select>
      </div>
      <div class="col-sm-1 col-xl-1 col-md-1 col-lg-1"> </div>
    </div>
    <hr class="divider">
    <form  #ads="ngForm" (ngSubmit)="SearchData_API(ads.value);"  novalidate>
    <div class="row" > 
    
        <div  class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" *ngFor="let fields of Attributes;let i = index;">
          <div class="row" *ngIf="fields.requiredInSearch == true">
            <div class="col-sm-3 col-xl-3 col-md-3 col-lg-3 text-right">
              <label> {{fields.attrName}} </label>
            </div>
            <div class="col-sm-3 col-xl-3 col-md-3 col-lg-3 no-padding">
              <select ngModel  name="attrOperators" class="form-control ">
                <option *ngFor="let operator of fields.operators" value="{{operator}}">{{operator}}</option>
              </select>
            </div>
            <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 no-padding">
              <input ngModel name="{{fields.attrCd}}" type="text" placeholder="{{fields.attrName}}" class="form-control ">
              <!-- <input ngModel name="attrCd" type="hidden" value="{{fields.attrCd}}" > -->
            </div>
          </div>
        </div>
  
    </div>


    <div class="row space-20">
      <div class="col-sm-6"> </div>
      <div class="col-sm-6 text-right">
        <button type="submit" class="btn btn-primary"> Search </button>
        <button class="btn btn-default"> Reset </button>
        <button class="btn btn-success"> Save </button>
        <button class="btn btn-warning" data-toggle="modal" data-target="#myModal"> Add Fields </button>
      </div>
    </div>
  </form>
    <hr class="divider section_divider">

    <h3> Search Results </h3>
    <hr class="divider">

    <!-- =====================Search Results Starts=========================== -->
    <!-- ===================================================================== -->

    <div class="row">
      <div class="col-sm-6" style="margin-bottom:3vh;">
        <span data-toggle="modal" data-target="#AddPOR_Model"  class="list_top_icons"> <i class="fa fa-plus-circle"
            aria-hidden="true"></i> </span>
        <span (click)="Delete_now()" class="list_top_icons"> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>
        <span data-toggle="modal" data-target="#searchreultattr"  class="list_top_icons"> <i class="fa fa-plus-circle"
          aria-hidden="true"></i> </span>
        <button class="btn btn-default min_padding_btns dropdown-toggle" type="button" data-toggle="dropdown">Action
          <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a>Add</a></li>
          <li><a>Edit</a></li>
          <li><a>Delete</a></li>
        </ul>

        <button class="btn btn-default min_padding_btns dropdown-toggle" type="button" data-toggle="dropdown">View
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a>Add</a></li>
          <li><a>Edit</a></li>
          <li><a>Delete</a></li>
        </ul>
      </div>

    <div class="col-sm-6" style="margin-bottom:3vh;">
      <div class="row">
          <div class="col-sm-4" >
              <a >Total Records : {{SearchData.page.totalElements}}</a>
          </div>
        <div class="col-sm-8" >
      <nav style="    text-align: center;" aria-label="Page navigation example">
        <ul class="pagination no_padding">
          <li (click)="Pagination('previous', 0)" class="page-item"><a class="page-link" >Previous</a></li>

          <li   (click)="Pagination('page_count', x+1)" *ngFor="let i of [].constructor(SearchData.page.totalPages-1); let x=index;"  class="page-item" ><a class="page-link" [ngClass]="{'active_pagi': current_page==x+1}"> {{x+1}}</a></li>

          <li (click)="Pagination('next', 0)" class="page-item"><a class="page-link" >Next</a></li>
        </ul>
      </nav>

      </div>
    
    </div>

    
    </div>




      <div class="table_responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th *ngFor="let purchase_colms of Attributess " [class.active]="order === purchase_colms.attrName "
              (click)="setOrder(purchase_colms.attrName)">{{purchase_colms.attrName}}

                  <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>

              </th>
            </tr>
            <tr>
              <th>Select</th>
              <th (click)="SORTData_API('desc', purchase_colms)" class="colmn_name" *ngFor="let purchase_colms of Attribute_Keys "> {{purchase_colms}}</th>
            </tr>
            <tr>
                <th></th>
              <th *ngFor="let purchase_colms of Attribute_Keys "><input type="text" placeholder="{{purchase_colms}}" class="form-control" (input)="FilterData_API($event.target.value, purchase_colms)"></th>
            </tr>  
          </thead>
          <tbody>

            <tr *ngFor="let Purchase_records of SearchData.content   " (click)="PurchaseOrder_Click(Purchase_records)">
               <td> <input type="checkbox" (change)="Delete_record($event.target.checked,Purchase_records)"></td>
              <td *ngFor="let attrib of Attribute_Keys;let r=index">{{Purchase_records[attrib]}}   </td>
            </tr>
            
          </tbody>
        </table>


       



      

      </div>
    </div>
  </div>