<div class="container_login">
  <div class="row login-header">

    <div class="col-sm-4">
       <img src="../../assets/clouds.png" style="    width: 250px;  position: absolute;"> 
    </div>

    <div class="col-sm-6">
      <div class="login_text_div">
      <a class="navbar-brand-login" href="#"><span> SIGN IN </span></a><br>
      <a class="navbar-brand-login" href="#"><span> WINSLAR CLOUD APPLICATION UI </span></a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20vh;">
    <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <!-- <div class="panel-heading">Log in</div> -->
        <div class="panel-body">
          <form #loginform="ngForm" (ngSubmit)="onSubmit(loginform.value);" novalidate>
            <fieldset>
              <div class="form-group">
                <input [(ngModel)]="setusername" name="userName" class="form-control" placeholder="E-mail" type="email" autofocus="">
              </div>
              <div class="form-group">
                <input [(ngModel)]="setpass" name="password" class="form-control" placeholder="Password" type="password" value="">
              </div>
              <div class="row">
                <div class=" col-sm-6">
                  <label>
                    <input ngModel name="remember" type="checkbox" value="Remember Me">Remember Me
                  </label>
                </div>
                <div class="col-sm-6 text-right">
                  <label data-toggle="modal" data-target="#Model_forgot">Forgot Password ?</label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div><!-- /.col-->
  </div><!-- /.row -->
</div>
<footer class="login_footer"> 
Copyright 2019, Winslar Cloud App, All rights reserved.  
</footer>


<div class="modal fade" id="Model_forgot" role="dialog">
  <div class="modal-dialog modal_SAM_dialog">
    <form (ngSubmit)="ForgotPass(forgotForm.value)" #forgotForm="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <!-- <input ngModel class="form-control" placeholder="Enter your registered username" name="email" type="email"
              email required="required"> -->
              <input ngModel name="userName" class="form-control" placeholder="E-mail" type="email" autofocus="" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" type="submit">Send Email</button>
        </div>
      </div>
    </form>
  </div>
</div>
