<div class="modal fade" id="App_Loader" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="../assets/img/loader_sam.gif" class="Loader_App">
      </div>
    </div>
  </div>
</div>
