.tab-container{
    margin: 0;
    padding: 0;
    max-height: 35px;
  }
  .min_padding_btns{
    padding: 3px;
  }
.list_top_icons{
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

.no_padding{
  padding: 0px !important;
  margin:0 !important;
}

.active_pagi{
  background: #dcdcdc !important;
}


  ul.tabs{
    margin: 0;
    list-style-type : none;
    line-height : 35px;
    border-bottom: 1px solid #efefef;
    /* max-height: 35px; 
    overflow: hidden;
    display: inline-block;
    padding-right: 20px*/
  }

  .colmn_name{
    text-transform: capitalize;
    font-size: 15px !important;
    text-align: center;
  }
  
  ul.tabs > li.active{
    z-index: 2;
    background: #efefef;
  }
  
  ul.tabs > li.active:before{
    border-color : transparent #efefef transparent transparent;
  }
  
  
  ul.tabs > li.active:after{
   border-color : transparent transparent transparent #efefef;
  }
  
  ul.tabs li {
    float: left;
    margin: 0 1px 0 0;
    /* border-top-right-radius: 25px 170px;
    border-top-left-radius: 20px 90px; */
    padding: 0 30px;
    height: 35px;
    background: #ddd;
    position: relative;
    /* box-shadow: 0 10px 20px rgba(0,0,0,.5); */
 
    cursor: pointer;
    width: auto;
}
  
  ul.tabs > li > a{
    display: inline-block;
    max-width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    color: #222;
  }
  
  ul.tabs > li:before, ul.tabs > li:after{
    content : '';
    background : transparent;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    border-width: 10px;
    top: 0px;
    border-style : solid;
    position : absolute;
  }
  
  ul.tabs > li:before{
    /* border-color : transparent #ddd transparent transparent;
    -webkit-transform : rotate(48deg);
    left: -23px; */
    content: none;
  }
  
  ul.tabs > li:after{
    /* border-color : transparent transparent transparent #ddd;
    -webkit-transform : rotate(-48deg);
    right: -17px; */
    content: none;
  }
  

  
  .clearfix:before, .clearfix:after { content: ""; display: table; }
  .clearfix:after { clear: both; }
  .clearfix { zoom: 1; }




  .close{
    position: absolute;
    right: 9px;
    font-size: 15px;
    top: 11px;
  }
  .wrapper{
      padding: 2rem;

  }

  .section_divider{
    border-top: 2px solid #b5b5b5;
  }
  .sec_contain {
    padding-right: 50px;
  }
  .dropdown-menu-right ul li {
    padding-left: 10px;
  }
  .dropdown-menu-right ul li.dropdown-header {
    font-size: 15px;
    font-weight: bold;
    padding: 3px 0;
  }
  .dropdown-menu-right ul {
    padding: 0;
    list-style: none
  }
  .space-20 {
    padding-top: 20px;
  }

  .param_select{
    width: 20%;
    display: inline-block;
  }

  .param_input{
    width: 50%;
    display: inline-block;
  }

  /* thead th {
    cursor: pointer;
    margin-right: 15px;
    margin-left: 15px;
  
    span {
      visibility: hidden;
    }
  
    &.active {
      color: #000;
  
      span {
        visibility: visible;
      }
    }
  } */

  @media (max-width: 1024px) { 
    ul.tabs li {
      width:48%;
      margin: 1%;
    }
  }
 @media (max-width: 767px) { 
    .table_responsive {
      width:100%;
      overflow-x: auto;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    
  }
  @media (max-width: 599px) { 
    ul.tabs li {
      width:100%;
      margin: 1% 0;
    }
    .space-20 .btn {
      width:48%;
      margin-bottom: 5px;
    }
  }