<!-- =====================Fixed Menu========================= -->
<div class="fixed-plugin">
    <div class="dropdown show-dropdown ">
       <a href="#" class="menu_icon_fixed" data-toggle="dropdown" aria-expanded="false">
       <i class="fa fa-bars fa-2x"> </i>
       </a>
       <ul class="dropdown-menu dropdown-menu-right" x-placement="top-start">
          <li class="col-sm-12">
             <ul>
                <li class="header-title"> <a (click)="OpenTab('tab4', 4);setData('purchaseOrders')">Purchase Order Search</a>
                </li>
                <li *ngFor="let sidemenus of MenuPageItems" class="header-title"> <a (click)="OpenTab('tab4', 4);setData(sidemenus.menuItemCode)">{{sidemenus.menuItemLabel}}</a>
                </li>
                <!-- <li *ngFor="let sidemenus of MenuPageItems" class="header-title"> <a (click)="OpenTab('tab'+sidemenus.menuItemDisplayOrder, sidemenus.menuItemDisplayOrder)">{{sidemenus.menuItemLabel}}</a>
                   </li> -->
                <!-- <li class="dropdown-header">Sales</li>
                   <li class="header-title"> <a (click)="OpenTab('tab1', 1)">Sales Dashboard</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab2', 2)">Create Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab3', 3)">Edit Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab4', 4)">Manage Customer</a> </li>
                   <li class="divider"></li>
                   <li class="dropdown-header">Sales</li>
                   <li class="header-title"> <a (click)="OpenTab('tab1', 1)">Sales Dashboard</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab2', 2)">Create Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab3', 3)">Edit Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab4', 4)">Manage Customer</a> </li>
                   <li class="divider"></li>
                   <li class="dropdown-header">Sales</li>
                   <li class="header-title"> <a (click)="OpenTab('tab1', 1)">Sales Dashboard</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab2', 2)">Create Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab3', 3)">Edit Customer</a> </li>
                   <li class="header-title"> <a (click)="OpenTab('tab4', 4)">Manage Customer</a> </li> -->
             </ul>
          </li>
       </ul>
    </div>
 </div>
 <div class="fixed-plugin fixed-plugin-search">
    <div class="dropdown show-dropdown ">
       <a href="#" class="menu_icon_fixed" data-toggle="dropdown" aria-expanded="false">
       <i class="fa fa-search fa-2x"> </i>
       </a>
       <ul class="dropdown-menu" x-placement="top-start">
       </ul>
    </div>
 </div>
 <div class="fixed-plugin fixed-plugin-bars">
    <div class="dropdown show-dropdown ">
       <a href="#" class="menu_icon_fixed" data-toggle="dropdown" aria-expanded="false">
       <i class="fa fa fa-bar-chart fa-2x"> </i>
       </a>
       <ul class="dropdown-menu" x-placement="top-start">
       </ul>
    </div>
 </div>
 <!-- =====================Fixed Menu========================= -->
 <div class="sec_contain">
 <div class="row">
    <div class="col-md-12">
       <div class="panel panel-default ">
          <div class="panel-body timeline-container">
             <div class=tab-container>
                <!-- =====================Tabs========================= -->
                <ul class="tabs clearfix">
                   <li (click)="TabChange(1)"  [ngClass]="{ 'active': activeTab == 1 }" style="    float: left;">
                   <a>Purchase Order Dashboard <a class="close">
                   </a>
                   </a>
                   </li>
                   <li *ngIf="TabStates.tab2 == 1 " (click)="TabChange(2)" [ngClass]="{ 'active': activeTab == 2 }">
                   <a>Create Purchase Order <a class="close"> <i (click)="CloseTab('tab2', 2)" class="fa fa-times-circle"
                      aria-hidden="true"></i>
                   </a>
                   </a>
                   </li>
                   <li *ngIf="TabStates.tab3 == 1 " (click)="TabChange(3)" [ngClass]="{ 'active': activeTab == 3 }">
                   <a>Edit Customer <a class="close"> <i (click)="CloseTab('tab3', 3)" class="fa fa-times-circle"
                      aria-hidden="true"></i>
                   </a>
                   </a>
                   </li>
                   <li *ngIf="TabStates.tab4 == 1 " (click)="TabChange(4)" [ngClass]="{ 'active': activeTab == 4 }">
                   <a>Purchase Order Reciepts <a class="close"> <i (click)="CloseTab('tab4', 4)" class="fa fa-times-circle"
                      aria-hidden="true"></i>
                   </a>
                   </a>
                   </li>
                   <li *ngIf="TabStates.tab99 == 1 " (click)="TabChange(99)" [ngClass]="{ 'active': activeTab == 99 }">
                   <a>Edit Purchase Order <a class="close"> <i (click)="CloseTab('tab99', 99)" class="fa fa-times-circle"
                      aria-hidden="true"></i>
                   </a>
                   </a>
                   </li>
                   <li *ngIf="TabStates.tab100 == 1 " (click)="TabChange(100)" [ngClass]="{ 'active': activeTab == 100 }">
                   <a>Create Purchase Order Reciepts <a class="close"> <i (click)="CloseTab('tab100', 100)" class="fa fa-times-circle" aria-hidden="true"></i>
                   </a>
                   </a>
                   </li>
                </ul>
                <!-- =====================Tabs========================= -->
             </div>
             <div class=outer-circle></div>
          </div>
          <!-- =====================Tabs Content========================= -->
          <div class="wrapper">
             <div class="" *ngIf="activeTab == 1 ">
                <div class="row">
                   <div class="row">
                      <div class="col-md-6">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                               Line Chart
                            </div>
                            <div class="panel-body">
                               <div class="canvas-wrapper">
                                  <canvas baseChart style="min-height: 300px;width: 100%; height: 50vh" [options]="ChartOptions"
                                  [datasets]="lineChartData" [labels]="lineChartLabels" [chartType]="lineChartType"
                                  (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                                  </canvas>
                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                               Bar Chart
                            </div>
                            <div class="panel-body">
                               <canvas baseChart width="100" height="50" [datasets]="barChartData" [labels]="barChartLabels"
                               [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" (chartHover)="chartHovered($event)"
                               (chartClick)="chartClicked($event)"></canvas>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--/.row-->
                   <div class="row">
                      <div class="col-md-6">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                               Doughnut Chart
                            </div>
                            <div class="panel-body">
                               <canvas baseChart width="100" height="50" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                               [chartType]="doughnutChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6">
                         <div class="panel panel-default">
                            <div class="panel-heading">
                               Bar Chart
                            </div>
                            <div class="panel-body">
                               <canvas baseChart width="100" height="50" [data]="doughnutChartData" [labels]="doughnutChartLabels"
                               [chartType]="pieChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                               </canvas>
                            </div>
                         </div>
                      </div>
                   </div>
                   <!--/.row-->
                </div>
             </div>
             <!-- =====================Tabs Content========================= -->
             <div class="" *ngIf="activeTab == 2 ">
                <h3> Create Customer </h3>
                <p> "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                   deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                   similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                   quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                   cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                   omnis
                   dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                   eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a
                   sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                   asperiores repellat." 
                </p>
             </div>
             <!-- =====================Tabs Content========================= -->
             <div class="" *ngIf="activeTab == 3 ">
                <h3> Edit Customer. </h3>
                <p> "At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                   deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                   similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum
                   quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
                   cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est,
                   omnis
                   dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe
                   eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a
                   sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus
                   asperiores repellat." 
                </p>
             </div>
             <!-- =====================Tabs Content========================= -->
             <div class="" *ngIf="activeTab == 4 ">
                <!-- <h3> Manage Customer </h3> <br> <br> -->
                <div class="row">
                   <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8">
                      <h3> Advance Search </h3>
                   </div>
                   <!-- =====================Advance Search Starts========================= -->
                   <!-- ===================================================================== -->
                   <div class="col-sm-12 col-xl-3 col-md-3 col-lg-3 text-right">
                      <span>Saved Search </span>
                      <select class="" data-toggle="modal" data-target="#SavedSearch">
                         <option> </option>
                      </select>
                   </div>
                   <div class="col-sm-1 col-xl-1 col-md-1 col-lg-1"> </div>
                </div>
                <hr class="divider">
                <form  #ads="ngForm" (ngSubmit)="SearchData_API(ads.value);"  novalidate>
                <div class="row" >
                   <div  class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" *ngFor="let fields of Attributes;let i = index;">
                      <div class="row" *ngIf="fields.requiredInSearch == true">
                         <div class="col-sm-3 col-xl-3 col-md-3 col-lg-3 text-right">
                            <label> {{fields.attrName}} </label>
                         </div>
                         <div class="col-sm-3 col-xl-3 col-md-3 col-lg-3 no-padding">
                            <select ngModel  name="attrOperators" class="form-control ">
                               <option *ngFor="let operator of fields.operators" value="{{operator}}">{{operator}}</option>
                            </select>
                         </div>
                         <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 no-padding">
                            <input ngModel name="{{fields.attrCd}}" type="text" placeholder="{{fields.attrName}}" class="form-control ">
                            <!-- <input ngModel name="attrCd" type="hidden" value="{{fields.attrCd}}" > -->
                         </div>
                      </div>
                   </div>
                </div>
                <div class="row space-20">
                   <div class="col-sm-6"> </div>
                   <div class="col-sm-6 text-right">
                      <button type="submit" class="btn btn-primary"> Search </button>
                      <button class="btn btn-default"> Reset </button>
                      <button class="btn btn-success"> Save </button>
                      <button class="btn btn-warning" data-toggle="modal" data-target="#myModal"> Add Fields </button>
                   </div>
                </div>
                </form>
                <hr class="divider section_divider">
                <h3> Search Results </h3>
                <hr class="divider">
                <!-- =====================Search Results Starts=========================== -->
                <!-- ===================================================================== -->
                <div class="row">
                   <div class="col-sm-6" style="margin-bottom:3vh;">
                      <span data-toggle="modal" data-target="#AddPOR_Model"  class="list_top_icons"> <i class="fa fa-plus-circle"
                         aria-hidden="true"></i> </span>
                      <span (click)="Delete_now()" class="list_top_icons"> <i class="fa fa-trash-o" aria-hidden="true"></i> </span>
                    
                      <button class="btn btn-default min_padding_btns dropdown-toggle" type="button" data-toggle="dropdown">Action
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu">
                         <li><a>Add</a></li>
                         <li><a>Edit</a></li>
                         <li><a>Delete</a></li>
                      </ul>
                      <button class="btn btn-default min_padding_btns dropdown-toggle" type="button" data-toggle="dropdown">View
                      <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                         <li>  <span data-toggle="modal" data-target="#searchreultattr"  class="list_top_icons"> Add/hide Columns </span></li>
                      </ul>
                   </div>
                   <div class="col-sm-6" style="margin-bottom:3vh;">
                      <div class="row">
                         <div class="col-sm-4" >
                            <a >Total Records : {{SearchData.page.totalElements}}</a>
                         </div>
                         <div class="col-sm-8" >
                            <nav style="    text-align: center;" aria-label="Page navigation example">
                               <ul class="pagination no_padding">
                                  <li (click)="Pagination('previous', 0)" class="page-item"><a class="page-link" >Previous</a></li>
                                  <li   (click)="Pagination('page_count', x+1)" *ngFor="let i of [].constructor(SearchData.page.totalPages-1); let x=index;"  class="page-item" ><a class="page-link" [ngClass]="{'active_pagi': current_page==x+1}"> {{x+1}}</a></li>
                                  <li (click)="Pagination('next', 0)" class="page-item"><a class="page-link" >Next</a></li>
                               </ul>
                            </nav>
                         </div>
                      </div>
                   </div>
                   <div class="table_responsive">
                      <table class="table table-striped">
                         <thead>
                            <tr>
                               <th *ngFor="let purchase_colms of Attributess " [class.active]="order === purchase_colms.attrName "
                               (click)="setOrder(purchase_colms.attrName)">{{purchase_colms.attrName}}
                               <span [hidden]="reverse">▼</span><span [hidden]="!reverse">▲</span>
                               </th>
                            </tr>
                            <tr>
                               <th>Select</th>
                               <th (click)="SORTData_API('desc', purchase_colms)" class="colmn_name" *ngFor="let purchase_colms of Attribute_Keys "> {{purchase_colms}}</th>
                            </tr>
                            <tr>
                               <th></th>
                               <th *ngFor="let purchase_colms of Attribute_Keys "><input type="text" placeholder="{{purchase_colms}}" class="form-control" (input)="FilterData_API($event.target.value, purchase_colms)"></th>
                            </tr>
                         </thead>
                         <tbody>
                            <tr *ngFor="let Purchase_records of SearchData.content   " (click)="PurchaseOrder_Click(Purchase_records)">
                            <td> <input type="checkbox" (change)="Delete_record($event.target.checked,Purchase_records)"></td>
                            <td *ngFor="let attrib of Attribute_Keys;let r=index">{{Purchase_records[attrib]}}   </td>
                            </tr>
                         </tbody>
                      </table>
                   </div>
                </div>
             </div>
             <!----------------- Edit Purchase Order ----------------->
             <div class="" *ngIf="activeTab == 99 ">
                <h3> Purchase Order Details </h3>
                <form #Updateorderform="ngForm" (ngSubmit)="Update_Purchase_Order(Updateorderform.value)">
                <div class="row">
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>PO # :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.purchaseOrderSeq}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Status :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.statusName}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                              <label>Branch :  </label>
                           </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <select [(ngModel)]="Single_Purchase_Order.branchName" name="branchCd" placeholder="" class="form-control "> 
                            <option *ngFor="let branch of Branches"  value="{{branch.value}}">{{branch.value}}</option>
                            </select>
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Vendor :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.vendorCd}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Reference No# :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.referenceNo}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Vendor Email :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.referenceNo}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Phone/Mobile :  </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.vendorMobile}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Requested Date : </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.requestedDateForm}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Approved By : </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.approvedBy}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                   <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                      <div class="row">
                         <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label>Approved Date : </label>
                         </div>
                         <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input disabled value="{{Single_Purchase_Order.approvedDateTime}}"type="text"  placeholder="" class="form-control ">
                         </div>
                      </div>
                   </div>
                </div>
                <!-- <div *ngIf="single_obje == 'branchName' " class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                   <select [(ngModel)]="Single_Purchase_Order[single_obje]" name="branchCd" placeholder="" class="form-control "> 
                       <option *ngFor="let branch of Branches"  value="{{branch.value}}">{{branch.value}}</option>
                   </select>
                   </div> -->
                <div class="row space-20">
                   <div class="col-sm-6"> </div>
                   <div class="col-sm-6 text-right">
                      <button class="btn btn-success"> Update </button>
                   </div>
                </div>
                </form>
                <hr class="divider">
                <div class="row space-20">
                   <div class="col-sm-6">
                      <h3> Ordered Items </h3>
                   </div>
                   <div class="col-sm-6 text-right">
                      <button class="btn btn-success" data-toggle="modal" data-target="#AddOrderPOR_Model"> Add </button>
                   </div>
                </div>
                <table class="table table-striped">
                   <thead>
                      <tr >

                        <th >#</th>
                        <th >Item ID</th>
                        <th >Item Name</th>
                        <th >Order Qty</th>
                        <th >UOM</th>
                        <th >	Landing Price</th>
                        <th >Wholesale Price</th>
                        <th >Selling Price</th>
                        <th >Incl. Tax</th>
                        <th >GST(%)</th>
                        <th >GST Amt</th>
                        <th >GST Amt</th>
                        

                         <!-- <th *ngFor="let purchase_colms of PurchaseOptionsCols ">{{purchase_colms.attrName}}</th> -->
                      </tr>
                   </thead>
                   <tbody>
                      <tr *ngFor="let childs of Single_Purchase_Order_Childs; let i=index"> 
                         <td> {{i}}</td>
                         <td>{{childs.itemID}} </td>
                         <td>{{childs.itemName}} </td>
                         <td>{{childs.orderQty}} </td>
                         <td> -</td>
                         <td> {{childs.landingPrice}}</td>
                         <td>{{childs.itemWholesalePrice}} </td>
                         <td>{{childs.itemSellingPrice}} </td>
                         <td>{{childs.inclTaxFlag}} </td>
                         <td>{{childs.gstAmt}} </td>
                         <td> {{childs.gstAmt}}</td>
                     </tr>
                   </tbody>
                </table>
             </div>
             <!-- =====================Add POR========================= -->
             <!-- <div class="" *ngIf="activeTab == 100 ">
                <h3> Create Purchase Order Reciepts </h3>
                <form #Updateorderform="ngForm" (ngSubmit)="Update_Purchase_Order(Updateorderform.value)">
                <div class="row">
                
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                        <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label> Select Branch </label>
                          </div>
                          <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <select ngModel name="branchCd" placeholder="" class="form-control ">
                          </div>
                        </div>
                      </div>
                
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                        <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label> Select Branch </label>
                          </div>
                          <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input ngModel="{{Single_Purchase_Order[single_obje]}}" name="{{single_obje}}" type="text" value="{{Single_Purchase_Order[single_obje]}}" placeholder="" class="form-control ">
                          </div>
                        </div>
                      </div>
                
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                        <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label> Select Branch </label>
                          </div>
                          <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input ngModel="{{Single_Purchase_Order[single_obje]}}" name="{{single_obje}}" type="text" value="{{Single_Purchase_Order[single_obje]}}" placeholder="" class="form-control ">
                          </div>
                        </div>
                      </div>
                
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                        <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label> Select Branch </label>
                          </div>
                          <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input ngModel="{{Single_Purchase_Order[single_obje]}}" name="{{single_obje}}" type="text" value="{{Single_Purchase_Order[single_obje]}}" placeholder="" class="form-control ">
                          </div>
                        </div>
                      </div>
                
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 margin_top_em" >
                        <div class="row">
                          <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                            <label> Select Branch </label>
                          </div>
                          <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                            <input ngModel="{{Single_Purchase_Order[single_obje]}}" name="{{single_obje}}" type="text" value="{{Single_Purchase_Order[single_obje]}}" placeholder="" class="form-control ">
                          </div>
                        </div>
                      </div>
                
                
                      <div class="row space-20">
                        <div class="col-sm-6"> </div>
                        <div class="col-sm-6 text-right">
                          <button class="btn btn-success"> Update </button>
                        </div>
                      </div>
                
                  </div>
                  </form>
                
                  <hr class="divider">
                  <h3> Ordered Items </h3>
                  <table class="table table-striped">
                      <thead>
                        <tr>
                          <th *ngFor="let purchase_colms of PurchaseOptionsCols ">{{purchase_colms.attrName}}</th>
                        </tr>
                      </thead>
                      <tbody>
                
                
                        <tr >
                           
                        </tr>
                      </tbody>
                    </table>
                
                
                </div> -->
             <!-- =====================Add POR Ends========================= -->
          </div>
          <!-- =====================Tabs Content========================= -->
       </div>
    </div>
 </div>
 <!-- =====================Coulmn add remove Model========================= -->
 <div class="modal fade" id="modal_colmn_setting" role="dialog">
    <div class="modal-dialog">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title">Select and Add : Columns</h5>
          </div>
          <div class="modal-body">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Action</th>
                      <th>Column Name</th>
                   </tr>
                   <tr *ngFor="let colmn_name of Column_Names">
                      <td>
                         <span class="list_top_icons" (click)="Add_Remove_Colmn(colmn_name, true)"> <i class="fa fa-plus-circle"
                            aria-hidden="true"></i> </span>
                         <span class="list_top_icons" (click)="Add_Remove_Colmn(colmn_name, false)"> <i class="fa fa-minus-circle"
                            aria-hidden="true"></i> </span>
                         <!-- <input type="checkbox" name="colmn_sh" (change)="Add_Remove_Colmn(colmn_name, $event.target.checked)" checked>  -->
                      </td>
                      <td> {{colmn_name}} </td>
                   </tr>
                </thead>
                <tbody>
                </tbody>
             </table>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 <!-- ====================================================== -->
 <!-- =====================ADS Model========================= -->
 <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title">Select and Add : Attributes for Search</h5>
          </div>
          <div class="modal-body">
             <h4 class="modal-title">Available Attributes</h4>
             <hr class="divider">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Attributes</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let fields of Attributes_ORG; let i=index">
                      <td><input type="checkbox" (change)="Ads_field_check($event.target.checked, fields.attrCd, fields, i)" checked></td>
                      <td>{{fields.attrName}}</td>
                   </tr>
                </tbody>
             </table>
             <h4>Active Attributes </h4>
             <hr class="divider">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Attributes</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let fields of Attributes;">
                      <td >{{fields.attrName}}</td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default"  (click)="addfilter()">Ok</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 <!-- ====================================================== -->
 <!-- ===================== Search result attributes Model========================= -->
 <div class="modal fade" id="searchreultattr" role="dialog">
    <div class="modal-dialog">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title">Select and Add : Attributes</h5>
          </div>
          <div class="modal-body">
             <h4 class="modal-title">Available Attributes</h4>
             <hr class="divider">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Attributes</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let fields of Attributes_ORG; let i=index">
                      <td><input type="checkbox" (change)="Ads_field_SearchResults($event.target.checked, fields.attrCd, fields, i)" checked></td>
                      <td>{{fields.attrName}}</td>
                   </tr>
                </tbody>
             </table>
             <h4>Active Attributes </h4>
             <hr class="divider">
             <table class="table table-striped">
                <thead>
                   <tr>
                      <th>Attributes</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let fields of Attributes;">
                      <td >{{fields.attrName}}</td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default"  data-dismiss="modal">Ok</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 <!-- ====================================================== -->
 <!-- =====================Save Search Model========================= -->
 <form #saveform="ngForm" (ngSubmit)="SaveSearch(saveform.value)">
 <div class="modal fade" id="SavedSearch" role="dialog">
    <div class="modal-dialog modal-dialog-small">
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title">Peronalize Saved Search</h5>
          </div>
          <div class="modal-body">
             <span> Saved Search </span>
             <select class="form-control">
                <option  *ngFor="let searchprofile of SearchProfiles.content"> {{searchprofile.profileName}}</option>
             </select>
             <div class="row">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                   <label> Name * </label> <input type="text" ngModel class="form-control" name="save_name">
                </div>
                <div class="col-sm-12 col-lg-12 col-md-12 col-xl-12">
                   <input type="checkbox" class=""> <label> Set as Default </label>
                </div>
             </div>
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" type="submit">Save</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 </form>
 <!-- ====================================================== -->
 <!-- =====================Details Model========================= -->
 <div class="modal fade" id="Detail_Model" role="dialog">
    <div class="modal-dialog modal-dialog-small">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title"> Search Details</h5>
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
             <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 <!-- ====================================================== -->
 <!-- =====================Add POR Model========================= -->
 <form #AddPOR_Model="ngForm" (ngSubmit)="Add_Purchase_Order(AddPOR_Model.value)">
 <div class="modal fade" id="AddPOR_Model" role="dialog">
    <div class="modal-dialog modal-dialog-small">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title"> Search Details</h5>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Select Branch </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <select ngModel name="branchCd" placeholder="" class="form-control ">
                            <option *ngFor="let branch of Branches"  value="branch.value">{{branch.value}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Select Vendor </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <select ngModel name="vendorName" placeholder="" class="form-control ">
                            <option *ngFor="let vendor of Vendors"  value="vendor.value">{{vendor.value}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Select Requested Date Form </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <input ngModel type="date" name="requestedDateForm" placeholder="" class="form-control ">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="modal-footer">
             <button type="submit" class="btn btn-default" >Submit</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 </form>
 <!-- ====================================================== -->
 <!-- =====================Add POR Model========================= -->
 <form #AddOrder_Model="ngForm" (ngSubmit)="Add_Order_INPOR(AddOrder_Model.value)">
 <div class="modal fade" id="AddOrderPOR_Model" role="dialog">
    <div class="modal-dialog modal-dialog-small">
       <!-- Modal content-->
       <div class="modal-content">
          <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal">&times;</button>
             <h5 class="modal-title"> Add Order</h5>
          </div>
          <div class="modal-body">
             <div class="row">
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Select Item </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <select  ngModel name="itemSeqForm" placeholder="" class="form-control "> 
                         <option (click)="Order_Item_Selected(item)" *ngFor="let item of Items"  value="{{item.id}}">{{item.value}}</option>
                         </select>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Enter Quantity </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <input ngModel type="number" name="orderQty" placeholder="" class="form-control ">
                      </div>
                   </div>
                </div>
                <div class="col-sm-6 col-xl-6 col-md-6 col-lg-6 margin_top_em" >
                   <div class="row">
                      <div class="col-sm-4 col-xl-4 col-md-4 col-lg-4 text-right">
                         <label> Enter Recieved Quantity </label>
                      </div>
                      <div class="col-sm-8 col-xl-8 col-md-8 col-lg-8 no-padding">
                         <input ngModel type="number" name="receivedQty" placeholder="" class="form-control ">
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <div class="modal-footer">
             <button type="submit" class="btn btn-default" >Submit</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
       </div>
    </div>
 </div>
 </form>
 <!-- ====================================================== -->