<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-collapse" (click)="toggle()">
        <span class="sr-only">Toggle navigation</span>
        <i class="fa {{toggleBarIcon?'fa-bars':'fa-remove'}} text-white custom-nav-toggle"></i>
      </button>


      <a href="#" class="dropdown-toggle main_menu_a" data-toggle="dropdown"> <i class="fa fa-bars" aria-hidden="true"></i></a>
      <ul *ngIf="NavMenus != []" class="dropdown-menu dropdown-menu-main mega-dropdown-menu row">
        <li class="col-sm-4" *ngFor="let navmenu of NavMenus">

          <ul>

            <li class="dropdown-header">{{navmenu.menuCode}}</li>
            <li *ngFor="let navsubmenus of navmenu.menuItems"><a href="#">{{navsubmenus.menuItemLabel}}</a></li>
          </ul>
        </li>
        <!-- <ul>
            <li class="dropdown-header">Material</li>
            <li><a href="#">Unique Features</a></li>
            <li><a href="#">Image Responsive</a></li>
            <li><a href="#">Auto Carousel</a></li>
            <li><a href="#">Newsletter Form</a></li>
            <li><a href="#">Four columns</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Inventory</li>
            <li><a href="#">Good Typography</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Sales</li>
            <li><a href="#">Easy to customize</a></li>
            <li><a href="#">Glyphicons</a></li>
            <li><a href="#">Pull Right Elements</a></li>
          </ul>
        </li>
        <li class="col-sm-4">
          <ul>
            <li class="dropdown-header">Sales</li>
            <li><a href="#">Easy to customize</a></li>
            <li><a href="#">Glyphicons</a></li>
            <li><a href="#">Pull Right Elements</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Accounts</li>
            <li><a href="#">Coloured Headers</a></li>
            <li><a href="#">Primary Buttons & Default</a></li>
            <li><a href="#">Calls to action</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">References</li>
            <li><a href="#">Default Navbar</a></li>
            <li><a href="#">Lovely Fonts</a></li>
            <li><a href="#">Responsive Dropdown </a></li>
          </ul>
        </li>
        <li class="col-sm-4">
          <ul>
            <li class="dropdown-header">Purchases</li>
            <li><a href="#">Default Navbar</a></li>
            <li><a href="#">Lovely Fonts</a></li>
            <li><a href="#">Responsive Dropdown </a></li>
            <li><a href="#">Calls to action</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Reports</li>
            <li><a href="#">Default Navbar</a></li>
            <li><a href="#">Lovely Fonts</a></li>
            <li><a href="#">Responsive Dropdown </a></li>
            <li><a href="#">Calls to action</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">eStore</li>
            <li><a href="#">Default Navbar</a></li>
            <li><a href="#">Lovely Fonts</a></li>

          </ul>
        </li> -->
      </ul>





      <a class="navbar-brand" href="#"><span>Winsar Labs </span>Cloud App</a>

      <ul class="user-menu">
        <li class="dropdown pull-right">
          <a class="top_menu_i" routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i></a>
          <a class="top_menu_i" data-toggle="dropdown"><i class="fa fa-cog" aria-hidden="true"></i></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#" data-toggle="modal" data-target="#Model_reset"><i class="fa fa-key"></i> Reset
                Password</a></li>
                <li><a (click)="logout()"><i class="fa fa-fw fa-user"></i> Logout</a></li>
          </ul>
          <!-- <a  class="dropdown-toggle" data-toggle="dropdown">
            User <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#"><i class="fa fa-fw fa-user"></i> Profile</a></li>
            <li><a href="#"><i class="fa fa-fw fa-cogs"></i> Settings</a></li>
            <li><a href="#"><i class="fa fa-fw fa-lock"></i> Logout</a></li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div><!-- /.container-fluid -->
</nav>



<div class=" col-sm-12  col-lg-12 main ">
  <!-- Main content -->
  <div class="row" style="margin-top:2vh;">
    <!-- <ng2-auto-breadcrumb></ng2-auto-breadcrumb> -->
  </div>
  <!--/.row-->

  <router-outlet></router-outlet>
</div>




<div class="modal fade" id="Model_reset" role="dialog">
  <div class="modal-dialog modal_SAM_dialog">
    <form (ngSubmit)="ResetPass(resetForm)" #resetForm="ngForm" novalidate>
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Reset Password</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <input [(ngModel)]="dateString"  class="form-control" value="{{ dateString }}"  name="uniqueId" type="hidden" >
            <input ngModel class="form-control" minlength="6" placeholder="Enter New Password" name="password" type="password" required="required">
            <input ngModel class="form-control" minlength="6" placeholder="Confirm New Password" name="confirmPassword" type="password"
              required="required">
          </div>
        </div>
        <div class="modal-footer">
          <button [disabled]="!resetForm.valid && resetForm.password == resetForm.confirmPassword" type="button" class="btn btn-success" type="submit">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
