@media only screen and (max-width: 480px){
  .attribution {
    position: relative;
  }
  .sidebar{
    position: fixed; /* Set the navbar to fixed position */
    top: 50px; /* Position the navbar at the top of the page */
    width: 100%;
    z-index: 1;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: none;
  }
}
.navbar-toggle{
  padding: initial !important;
}
.custom-nav-toggle{
  padding:5px 15px 5px 15px;
  font-size:20px;
}
.top_menu_i{
  font-size: 25px;
  margin-right: 1rem;
}

.main_menu_a{
  float: left;
  margin-top: 2vh;
  margin-right: 1vw;
}

.main_menu_a i{
  font-size: 30px;
    color: #fff;
}

.dropdown-menu-main {
  position: absolute;
  top: 10vh;
  left: 4vw;
  padding: 2rem;
  will-change: top, left;
}

.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  line-height: 1.5;
  padding: 0;
}

.navbar-inverse {
  background-color: #8cd3ff;
}
.main_menu_a{
  margin-top: 10px;
}

.dropdown-menu-main {
  top: 40px;
  left: 10px;
  height: 460px;
  overflow-y: auto;
}
.dropdown-menu li ul {
  margin: 0;
  padding: 10px 20px;
  list-style: none;
}

.dropdown-menu li ul li{
  padding: 3px 10px;
}
.dropdown-menu li ul li.divider {
  padding: 0
}
.dropdown-menu li ul li.dropdown-header {
  padding: 3px 0;
}
.dropdown-menu li ul li a {
  color: #00a3cc;
}
.navbar-header .navbar-brand span {
  color: #22333e
}

@media only screen and (max-width: 767px){
.dropdown-menu-main {
  height: 90vh;
}
.main_menu_a {
  margin-left: 10px;
}
}

body {
   background-color: #8cd3ff !important; 
}