<div class="row">
  <div class="col-xs-12 col-md-6 col-sm-12 col-lg-3">
    <statsCard [data]="card1"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <statsCard [data]="card2"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <statsCard [data]="card3"></statsCard>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-3">
    <statsCard [data]="card4"></statsCard>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">Site Traffic Overview</div>
      <div class="panel-body">
        <div class="canvas-wrapper" >
          <canvas baseChart style="min-height: 300px;width: 100%; height: 50vh"
                  [options]="ChartOptions"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-6 col-md-3">
    <pieChart [data]="pbar1"></pieChart>
  </div>
  <div class="col-xs-6 col-md-3">
    <pieChart [data]="pbar2"></pieChart>
  </div>
  <div class="col-xs-6 col-md-3">
    <pieChart [data]="pbar3"></pieChart>
  </div>
  <div class="col-xs-6 col-md-3">
    <pieChart [data]="pbar4"></pieChart>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default ">
      <div class="panel-heading">
        Timeline
      </div>

      <div class="panel-body timeline-container">
        <ng2-timeline [completeListener]="completeListener" [data]="timelineData"></ng2-timeline>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default articles">
      <div class="panel-heading">
        Latest News
      </div>
      <div class="panel-body articles-container">
        <ng2-news-list [data]="newsList"></ng2-news-list>
      </div>
    </div>
  </div>
</div>

