.colored_circle{
  width: auto;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px;
  margin: 0 auto 10px auto;
  max-width: 140px;
  padding: 20px;
}
.colored_circle i{
  font-size: 6rem;
  margin-top: 0;
  color: #fff;
  display: block;
  padding: 35px;
}

.colored_circle span{
  font-size: 55px !important;
}

.carousel-control.left {
  top: 44vh !important;
  left: -11vw !important;
}

.carousel-control.right {
  top: 44vh !important;
  right: -11vw !important;
}

.carousel-control{
  background-image: none !important;
}

.carousel-control i{
  font-size: 30px !important;
}

.carousel-indicators{
  top: 0px !important;
}


.colored_circle_small{
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  box-shadow: 0px 0px 3px 0px;
  margin: 0 auto;
}

.colored_circle_small i{
  font-size: 3rem;
  margin-top: 3vh;
  color: #fff;
}

.user_img{
  width: 10vw;
  height: 10vw;
}
.sidebar{
  background: url(../../assets/background-cloud.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  top:90px;
  left: 5%;
}


.colored_circle:hover{
  box-shadow: 0px 0px 14px 1px;
}

.shade0{
  background: #6600ff
}

.shade1{
  background: #e6005c
}

.shade2{
  background: #2eb82e
}

.shade3{
  background: #00a3cc;
}

.shade4{
  background: #ff8000;
}

.shade5{
  background: #0066cc;
}

.shade6{
  background: #ff6666;
}

.shade7{
  background: #e6b800;
}

.shade8{
  background: #00cc00;
}

.shade9{
  background: #ff0055;
}
.shade10{
  background: #6600ff
}

.shade11{
  background: #e6005c
}

.shade12{
  background: #2eb82e
}

.shade13{
  background: #00a3cc;
}

.shade14{
  background: #ff8000;
}

.shade15{
  background: #0066cc;
}

.shade16{
  background: #ff6666;
}

.shade17{
  background: #e6b800;
}

.shade18{
  background: #00cc00;
}

.shade19{
  background: #ff0055;
}

.menu_row{
  padding: 4vw;
}

.outer_menu{
  
}


.sub-menu-new {
  position: absolute;
  top:155px;
}
.hm_below {
  margin-top: 150px;
}
@media only screen and (max-width: 1365px){
  .colored_circle i {
    font-size: 5rem;
    padding: 30px;
  }
}
@media only screen and (max-width: 1279px){
  .colored_circle i {
    font-size: 4rem;
    padding: 26px;
  }
}
@media only screen and (max-width: 1169px){
  .colored_circle {
    width: 90px;
    height: 90px;
  }
}
@media only screen and (max-width: 1023px){
  .hm_hide {
    display: none
  }
  .colored_circle {
    width: auto;
    height: auto;
    margin-top: 20px;
  }
  .colored_circle i {
    font-size: 6rem;
    padding: 35px;
  }
  .sub-menu-new {
    position: relative;
    top:0;
    margin-bottom: 20px;
  }
  .colored_circle_small {
    width: 100px;
    height: 100px;
  }
  .colored_circle_small i {
    font-size: 30px;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 767px){
  .sidebar {
    left: 0;
    top:0
  }
.hm_below {
  margin-top: 10px;
}
}


