<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <div id="sidebar-collapse" class="col-sm-4 col-lg-3 sidebar">
              <div class="card">
                <div class="box text-center">
                  <div class="img text-center">
                    <img *ngIf="Profile_Pic != '' " class="user_img img-circle" src="{{Profile_Pic}}">
                    <img *ngIf="Profile_Pic == '' " class="user_img img-circle" src="../../assets/user-admin.png">
                  </div>
                  <h2><strong>{{UserProfileData.userName}}</strong></h2>
                  <span>{{UserProfileData.deptDescription}}</span> <br>
                  <span>{{UserProfileData.emailId}}</span> <br><br>
            
                  <span style="    font-size: 22px;">To Do List </span>
                  <i style="    font-size: 25px;" class="fa fa-plus-circle"  aria-hidden="true" data-toggle="modal" data-target="#add_todo"></i>
                  <ul class="list-group" style="list-style:none;">
                    <li class="divider"> </li>
                    <li *ngFor="let todo of To_Do_List.content"> <input type="checkbox" > {{todo.todoListName}}  <i class="fa fa-close"  aria-hidden="true" (click)="Remove_Todo(todo)"></i></li>
                   
                  </ul>
                </div>
              </div>
            </div>
            
            
            <div class="col-sm-8 col-sm-offset-4 col-lg-9 col-lg-offset-3 main ">
              <div class="row menu_row">
                <div class="col-md-12 ">
            
                  <!-- <div class="col-md-1 col-lg-1 col-xl-1 col-sm-1 hm_hide text-center"></div> -->
            
                  <div *ngFor="let menus of Home_Menus; let i=index;" class="col-md-3 col-lg-3 col-xl-3 col-sm-6 text-center outer_menu">
                    <div *ngIf="menus.menuItems.length == 0" class="colored_circle {{'shade'+i}}" data-toggle="dropdown" aria-expanded="false" (click)="MenuOpen(menus.menuCode, i)"><span style="font-size: 85px; color: #ffffff;"> {{menus.menuCode | slice:0:2}}</span>  </div>
                    <div *ngIf="menus.menuItems.length != 0" class="colored_circle {{'shade'+i}}" data-toggle="dropdown" aria-expanded="false" ><span style="font-size: 85px; color: #ffffff;">{{menus.menuCode | slice:0:2}}</span></div>
                    <span> {{menus.menuCode}} </span>
            
                    <!-- =====================Sales Submenus======================== -->
            
                 
                    <div *ngIf="menus.menuItems != []" style="       opacity: 0.9;" class="dropdown-menu dropdown-menu-right row" x-placement="top-start">
                      <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 text-center" *ngFor="let submenu of menus.menuItems; let j=index" >
                        <div  class="colored_circle_small {{'shade'+j}} text-center" routerLink="/section">
                          <i
                            class="fa fa-th" aria-hidden="true">
                          </i>
                        </div>
                        <span> {{submenu.menuItemLabel}} </span>
                      </div>
                    </div>
            
            
                    <!-- =====================Sales Submenus======================== -->
            
            
                  </div>
            
                </div>
              </div>
            </div>
            
             <!-- =====================Details Model========================= -->
            
             <form #saveform="ngForm" (ngSubmit)="Create_todo(saveform.value)">
             <div class="modal fade" id="add_todo" role="dialog">
              <div class="modal-dialog modal-dialog-small">
            
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"> Add To-Do</h5>
                  </div>
                  <div class="modal-body">
                    <input class="form-control" ngModel name="todoListName" placeholder="Enter To-Do">
                  </div>
                  <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
            
              </div>
            </div>
            </form>

        <!-- <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Los Angeles" style="width:100%;"> -->
      </div>

      <div class="item">


        <!-- <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="Chicago" style="width:100%;"> -->
      </div>
    
      <div class="item">


        <!-- <img src="https://www.w3schools.com/bootstrap/chicago.jpg" alt="New york" style="width:100%;"> -->
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <i class="fa fa-arrow-left" aria-hidden="true"></i>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <i class="fa fa-arrow-right" aria-hidden="true"></i>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>








<!-- ====================================================== -->